# gitignore

*.cache
*.pyc
.Bridge*
._*
.DS_Store
.fseventsd
.TemporaryItems
.Trashes
.Spotlight-V100
Thumbs.db
package-metadata.json

# project specific
*.sublime-workspace
*.sublime-project
syntax_test_*
*.org
GDLDev.sublime-settings
